.containerUpSpace{
    margin-top: 10vw;
}

@media (min-width: 768px) {
    h1 {
        display: inline;
        color: red;
        
    }
}

.input-button-border {
    border: 1px solid grey;
}

.input-width{
    width: 50vw;
}